:root {
    --primary-color: #2c9045;
    --font-poppins: 'Poppins', sans-serif;
}

.card {
    border: none;
    border-radius: 10px;
}

.card-body {
    padding: 2rem;
}

.form-label {
    font-family: var(--font-poppins);
    font-weight: 500;
}

.alert {
    font-family: var(--font-poppins);
}